html {
    line-height: 1.6rem;
    margin: 2rem;
}
body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Main logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
img {
    max-width: 248px;
    max-height: 248px;
}

/* Login */
.login {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.login h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Satisfy', cursive;
    font-size: 1.7rem;
    margin-bottom: .5rem;
}
.login input {
    padding: 5px;
    border-width: 3px;
}
.login button {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-family: 'Satisfy', cursive;
}
.login button:hover {
    background-color: #fff;
    color: #000;
}
/* Footer */
footer {
    height: 15vh; 
    margin-top: 0;
    margin-bottom: 0;
}
.prologo {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 3.5rem;
    float: right;
}